.container {
    display: flex;
  }
  
  .wrapper {
    max-width:75%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 5% 0 5% 15%;
  }
  .title{
      padding: 0.5rem 1rem;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      background-color: var(--Primary);
      color: var(--Thi);
      font-size: 2rem;
  }
  .user_table {
    width: 100%; /* Adjust the width to your preference */
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    outline: none;
  }
  .user_table th,
  .user_table td {
    padding: 8px;
    text-align: center;
  }
  
  .user_table th {
    background-color: var(--Primary);
    color: var(--Thi);
    padding: 2rem;
    font-size: 1rem;
    border: none;
  }
  
  .user_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  