.container {
    display: flex;
  }
  
  .wrapper {
    min-width:75%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 5% 0 5% 15%;
  }
  .title{
      padding: 0.5rem 1rem;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      background-color: var(--Primary);
      color: var(--Thi);
      font-size: 2rem;
  }
  .wrapper form{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px auto;
  }
  
  .inputs input, .inputs select{
    border: none;
    border-radius: 5px;
    height: 40px;
    outline: none;
    background-color: var(--Gray);
    color: var(--Black);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .inputs input:focus {
    border: 1px solid var(--Secondary);
    border-radius: 5px;
  }