.container{
  width: 20%;
  position: fixed;
  height: 100vh;
  padding: 1rem 0 2rem 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.wrapper{
  border-radius: 2em;
  box-shadow: 5px 0 3px rgba(0, 0, 0, 0.1);
}
.wrapper ul{
  list-style: none;
  height: 70vh;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.wrapper li{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0;
  padding: 0.75rem 0;
  cursor: pointer;
  width: 80%;
  border-radius: 1.5rem;
  
}
.wrapper li img{
  width: 50px;
}
.wrapper li:hover{
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content button:hover{
  background: none;
}
.logout{
  border-radius: 2em;
  box-shadow: 5px 0 3px rgba(0, 0, 0, 0.1);
}
.logout ul{
  list-style: none;
  height: 10vh;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.logout li{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0;
  padding: 0.75rem 0;
  cursor: pointer;
  width: 80%;
  border-radius: 1.5rem;
}
.logout li img{
  width: 50px;
}
.logout li:hover{
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}