.container {
  width: 20%;
  height: 100vh;
  background-color: var(--Thi);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: fixed;
}

.logo {
  width: 100%;
  padding: 0.5rem 1.5rem;
  text-align: center;
  cursor: pointer;
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper li {
  padding: 1rem 0.5rem;
  margin: 1.5rem 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: var(--Black);
}

.wrapper li:hover {
  background-color: var(--Secondary);
  color: var(--Thi);
}

.container button {
  margin-top: auto;
  width: 100%;
  padding: 1rem;
  background-color: #3498db;
  color: var(--Thi); /* Example text color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #2073b0;
}
