.main_container {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    align-items: start;
  }
  .container {
    flex: 1;
    width: 80%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .stickyNav {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 1rem 0;
  }
  .form_group{
    background-color: var(--White);
    border-radius: 25px;
  }
  .form_group h1{
    width: 100%;
    background-color: var(--Primary);
    color: var(--White);
    padding: 1rem;
    border-radius: 25px 25px 0 0;
  }
  .form_group form{
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .form_group .form_group_div{
    width: 100%;
  }
  .form_group .form_group_div .inputs{
    flex-direction: column;
    display: flex;
    margin: 1rem 0;
  }
  .form_group .form_group_div .inputs_button{
    justify-content: space-between;
    display: flex;
    margin: 1.3rem 0;
    gap: 10px;
  }
  .form_group .form_group_div .inputs input, .form_group .form_group_div .inputs select{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--Black)
  }
  .form_group .form_group_div .inputs textarea{
    padding: 0.5rem;
    height: 125px;
    resize: none;
    border-radius: 5px;
    border: 1px solid var(--Black)
  }