.main_container {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    align-items: start;
  }
  .container {
    flex: 1;
    width: 80%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .stickyNav {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 1rem 0;
  }
  .button_container{
    width: 25%;
    gap: 1rem;
}
.title{
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--Primary);
  color: var(--White);
  font-weight: bold;
}