.container {
  display: flex;
}
.left {
  width: 50%;
  filter: brightness(60%);
}
.right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Gray);
}
.logo {
  width: 80%;
  text-align: center;
  color: var(--Black);
  margin: 1rem auto;
}
.right form{
  width: 75%;
}
.logo img {
  width: 100%;
  object-fit: contain;
}
.clinic_img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5px auto;
}

.inputs input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--Secondary);
  outline: none;

}
.inputs input:focus {
  border: 1px solid var(--Primary);
  border-radius: 5px;
}
.inputs p {
  text-decoration: none;
  font-size: 1rem;
}
.inputs p a{
  color: var(--Primary);
}
.sign {
  text-decoration: none;
  font-weight: 600;
}
