@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif+Caption&family=Roboto&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f7f7f7;
  color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --Primary: #0A379C;
  --Secondary: #6EC1E4;

  --FontSec:'PT Serif Caption', serif;
}