@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=PT+Serif+Caption&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #F0F0F0;
  color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --Primary: #678CD0;
  --Secondary: #DEEAFF;
  --Hover: #a4beeb;
  --White: #FFFFFF;
  --Black: #212121;
  --Warning: #FD9595;
  --Gray: #F0F0F0;

}
body {
  background-color: #F0F0F0;
  font-family: "Open Sans", sans-serif;
}
.button-primary{
  padding: 0.65rem;
  color: var(--White);
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
  background-color: var(--Primary);
  margin: 1rem 0;
}
.button-warning{
  padding: 0.65rem;
  color: var(--White);
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
  background-color: var(--Warning);
  margin: 1rem 0;
}
.button-primary:hover{
  background-color: var(--Hover);
}
a{
  text-decoration: none;
  color: var(--Black);
}